@import "node_modules/ol/ol.css";

*{
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}


.ol-mouse-position {
  margin-right: 50px;
  background: white;
  color: black;
  padding: 5px 10px;
}

.ol-scale-line {
  margin-left: 180px;
}